In [8]:
from sqlalchemy import create_engine
from sqlalchemy.engine import URL
from urllib.parse import unquote

server_name = 'localhost'
database_name = 'AI22'
username = 'sa'
password = 'ThisIsHardToGuess'

connection_string = f"DRIVER=ODBC Driver 17 for SQL Server;SERVER={server_name};DATABASE={database_name};UID={username};PWD={password}"
url_string        = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})

print('Connecting to database using URL string:')
unquoted_url = unquote(str(url_string))
print(unquoted_url, '\n')

try:    
    engine = create_engine(url_string)
    with engine.connect() as connection:
        print(f'Successfully connected to {database_name}!')
except Exception as e:
    print('Error while connecting to database:\n')
    print(e)

Connecting to database using URL string:
mssql+pyodbc://?odbc_connect=DRIVER=ODBC+Driver+17+for+SQL+Server;SERVER=localhost;DATABASE=AI22;UID=sa;PWD=ThisIsHardToGuess

Successfully connected to AI22!

In [15]:
from sqlalchemy import text

query = text("SELECT title, isbn13, language, price_$, releaseDate FROM Books")

with engine.connect() as conn:
    result = conn.execute(query)
    for column_name in result.keys():
        print(column_name.upper().ljust(40), end='')
    
    print()

    for row in result:
        for field in row:
            print(str(field).ljust(40), end='')
        
        print()

TITLE                                   ISBN13                                  LANGUAGE                                PRICE_$                                 RELEASEDATE
The Alchemist                           978-0062315007                          English                                 16.99                                   1988-01-01
Pride and Prejudice                     978-0141439518                          English                                 7.99                                    1813-01-28
The Girl With The Dragon Tattoo         978-0307473479                          English                                 11.99                                   2005-08-01
The Catcher in the Rye                  978-0316769488                          English                                 8.99                                    1951-07-16
The Hunger Games                        978-0439023528                          English                                 10.99                                   2008-09-14
To Kill a Mockingbird                   978-0446310789                          English                                 8.99                                    1960-07-11
1984                                    978-0451524935                          English                                 9.99                                    1049-06-08
The Lord of the Rings                   978-0544003415                          English                                 22.99                                   1954-07-29
The Hobbit                              978-0547928227                          English                                 8.99                                    2006-04-25
The Great Gatsby                        978-0743273565                          English                                 15.0                                    1925-04-10
The Da Vinci Code                       978-1400079179                          English                                 9.99                                    2003-03-18

In [17]:
search_string = input("search books: ")

query = f"""
    SELECT 
        title, 
        isbn13, 
        language, 
        price_$, 
        releaseDate 
    FROM 
        Books 
    where 
        title like '%' + :title + '%'
"""
with engine.connect() as conn:    
    result = conn.execute(text(query), {'title' : search_string})
    for column_name in result.keys():
        print(column_name.upper().ljust(40), end='')
    print()
    
    for row in result:
        for field in row:
            print(str(field).ljust(40), end='')
        
        print()

TITLE                                   ISBN13                                  LANGUAGE                                PRICE_$                                 RELEASEDATE
The Alchemist                           978-0062315007                          English                                 16.99                                   1988-01-01
The Girl With The Dragon Tattoo         978-0307473479                          English                                 11.99                                   2005-08-01
The Catcher in the Rye                  978-0316769488                          English                                 8.99                                    1951-07-16
The Hunger Games                        978-0439023528                          English                                 10.99                                   2008-09-14
The Lord of the Rings                   978-0544003415                          English                                 22.99                                   1954-07-29
The Hobbit                              978-0547928227                          English                                 8.99                                    2006-04-25
The Great Gatsby                        978-0743273565                          English                                 15.0                                    1925-04-10
The Da Vinci Code                       978-1400079179                          English                                 9.99                                    2003-03-18